// OVERRIDE PARENT THEME
input[type="button"], input[type="reset"], input[type="submit"] {
    background-color: $primary;

    &:hover {
        background-color: #30851f;
    }

    &:disabled:hover {
        background-color: $primary;
        cursor: default;
    }
}

.entry .entry-content .wp-block-file .wp-block-file__button {
    background-color: $primary !important;
}

// UM OVERRIDE
.um input[type=submit].um-button {
    background-color: $primary !important;
    color: $black;
}

// VAIBITO STYLES
.site-branding {

    @include media-breakpoint-down(xs) {
        font-size: 0.8rem;
    }

    .site-logo {
        position: relative;
        right: initial;
        top: 0;

        margin-right: $grid-gutter-width;
        
        .custom-logo-link {
            width: 150px;
            height: auto;

            @include media-breakpoint-down(xs) {
                display: block;
                margin: auto;
            }
        }
    }

    .site-description {
        &::before {
            display: none;
            content: '';
        }

        display: block;
    }
}

body #content .main-navigation {
    display: flex;
    font-size: 18px;
    font-weight: $font-weight-normal;
    text-align: right;
    margin-right: 20px;

    ul {
        width: 100%;
    }

    .nav-link {
        display: inline-block;
    }

    @include media-breakpoint-down(md) {
        flex-direction: row-reverse;
        margin-right: 0;

        .nav-link {
            padding: {
                left: 10px;
                right: 10px;
            };
        }
    }
}

.archive #main header {
    margin-bottom: 0;
}

#main article, .archive #main {
    header {
        margin-top: 0;
    }

    header, .entry-content, footer {
        margin-left: 0;
        margin-right: 0;

        padding-left: 0;
        padding-right: 0;

        max-width: 100%;
    }

    &.page {
        .entry-title::before {
            margin-top: 0.5rem;
        }
    }
    
}

body.home {
    .entry-header {
        display: none;
    }

    .wp-block-getwid-image-hotspot {
        margin-top: 0;
    }
}