

.main-navigation {
    font-size: $font-size-base;
    font-weight: $font-weight-normal;

    .nav-link {
        display: inline-block;
    }
}

#main {
    article {
        header {
            margin-top: 0;
        }

        header, .entry-content, footer {
            margin-left: 0;
            margin-right: 0;

            padding-left: 0;
            padding-right: 0;

            max-width: 100%;
        }
    
        &.page {
            .entry-title::before {
                margin-top: 0.5rem;
            }
        }
    }
}