.site-branding {

    @include media-breakpoint-down(xs) {
        font-size: 0.8rem;
    }

    .site-logo {
        position: relative;
        right: initial;
        top: 0;

        margin-right: $grid-gutter-width;
        
        .custom-logo-link {
            width: 150px;
            height: auto;

            @include media-breakpoint-down(xs) {
                display: block;
                margin: auto;
            }
        }
    }

    .site-description {
        &::before {
            display: none;
            content: '';
        }

        display: block;
    }
}

body #content .main-navigation {
    display: flex;
    font-size: $font-size-base;
    font-weight: $font-weight-normal;

    .nav-link {
        display: inline-block;
    }

    .navbar-toggler {
        float: right;
    }
}

#main {
    article {
        header {
            margin-top: 0;
        }

        header, .entry-content, footer {
            margin-left: 0;
            margin-right: 0;

            padding-left: 0;
            padding-right: 0;

            max-width: 100%;
        }
    
        &.page {
            .entry-title::before {
                margin-top: 0.5rem;
            }
        }
    }
}